.animation-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; /* Ajusta según sea necesario */
    width: 100%;  /* Ajusta según sea necesario */
    text-align: center;
    margin-top: 20px; /* Espacio superior para separar del contenido anterior */
  }
  