.page-home {
  ion-content {
    background-color: #f0f0f5;
  }

  ion-item {
    --border-radius: 8px;
    margin-bottom: 16px;
  }

  ion-label {
    color: #000000;
  }

  ion-input {
    color: #000000;
  }

  ion-button {
    margin-top: 24px;
    --background: #1d9223;
    --color: #ff0000;
  }
}
